## Working with Language Processing Methods

In [1]:
import pandas as pd
import numpy as np

In [2]:
columns = ['tweet_id','timestamp','tweet_text','user_id',
           'tweet_coords','tweet_coords_list','tweet_long','tweet_lat','location',
           'enc_url','tweet_lang','hashtags']

In [3]:
pd.read_csv?

`%timeit` has the following command at:
`3.02 s ± 29 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`
This is much faster than attempting to explicitly define the string for date formatting, and using `pd.to_datetime()`.

In [4]:
tweet_data = pd.read_csv(r'./tweetCoords.csv',header=None,names=columns,parse_dates=[1],infer_datetime_format=True)

In [5]:
time_string = "2017-09-01 00:00:00"
delta_hours = 1
start_time = pd.to_datetime(time_string)

Getting information in a single hour.

In [6]:
tweet_hour = tweet_data[(tweet_data['timestamp'] >= start_time) &
                        (tweet_data['timestamp'] <= start_time + pd.Timedelta(hours=delta_hours))].copy()

In [7]:
tweet_hour.drop(columns=tweet_hour.columns[3:],axis=1,inplace=True)

In [8]:
tweet_hour.count()

tweet_id      1365
timestamp     1365
tweet_text    1365
dtype: int64

In [9]:
pd.options.display.max_colwidth=100

Working on functionality to clean tweet text.
- Eliminate links.
- Drop user mentions.
- *amp* as ampersand
- remove numbers as time or as decimal

In [23]:
tweet_hour[tweet_hour['tweet_text'].str.contains("[\d\:\.]+")].head()

,tweet_id,timestamp,tweet_text
0,903407051438567424,2017-09-01 00:00:00,Ocala: 7:50pm: sunset
1,903407059512721413,2017-09-01 00:00:02,"Wind 2.0 mph ESE. Barometer 30.013 in, Steady. Temperature 85.2 F. Rain today 0.00 in. Humidity..."
2,903407067968536576,2017-09-01 00:00:04,Where words fall....music speaks
3,903407078823399424,2017-09-01 00:00:06,First @TBBuccaneers with my bride @carrie_dunavant #lovetampa #bucs #buccaneers https://t.co/mi...
4,903407093855776768,2017-09-01 00:00:10,Wow. That was rough. It s basically drinking a shot of whiskey beer.... 120 Minute IPA https:/...

In [27]:
tweet_hour['tweet_text'].str.replace("[\d\:\.#@]+","").head()

0                                                                                        Ocala pm sunset
1                          Wind  mph ESE Barometer  in, Steady Temperature   F Rain today  in Humidity
2                                                                        Where words fallmusic speaks
3       First TBBuccaneers with my bride carrie_dunavant  lovetampa bucs buccaneers https//tco/miYlZwYEX
4    Wow That was rough It s basically drinking a shot of whiskey beer   Minute IPA  https//tco/AMWFBrnK
Name: tweet_text, dtype: object

In [29]:
tweet_hour['tweet_text'].str.replace("https?:\S+","").str.replace("@[\S]+","").str.replace('\s+amp\s+'," ").str.replace("[\d\:\.#@]+","")

0                                                                                           Ocala pm sunset
1                             Wind  mph ESE Barometer  in, Steady Temperature   F Rain today  in Humidity
2                                                                           Where words fallmusic speaks
3                                                         First  with my bride   lovetampa bucs buccaneers
4                          Wow That was rough It s basically drinking a shot of whiskey beer   Minute IPA
5       I can t even watch Diana programmes because it s just so sad   She was an incredible person and ...
6                                                                                     Gainesville pm sunset
7                                                Exactly hrs til  my blessings  The World Famous Original
8                                      I m at Louis Pappas Market Cafe Shoppes at Citrus Park in Tampa, FL
9       Don t try talk  me when it s convenient  UI ll leave you right where you werewhen I needed youwh...
10          Repost   Great shoot today, with lululemon ambassador, dragonflyogi Such an honor to meet and
11                                             She s only loyal to  l Jefe I bet she tastes like Tres Leche
12                                                                                  Pinellas Park pm sunset
13                                                                    GalationsSixAndNine  Spring Hill, FL
14                                      There s more traveling in middle school girl s basketball than on
15                                                                There s simply no limit to this sociopath
16                         If she cant do this on da  i dont want her   MoonWalkin    Tallahassee, Florida
17          Severe Thunderstorm Warning including Monticello FL, Greenville FL, Waukeenah FL until  PM EDT
18          Severe Thunderstorm Warning including Monticello FL, Greenville FL, Waukeenah FL until  PM EDT
19                                            tbt to that time I crashed a corporate yacht party in Miami
20             not the best but this pic for  idc Im not watching no bortles or henne Tulsa HVAC we see u
21                      omg i told someone i d go to there party tonight and all i wanna do is play sims
22                                                                                I m at  in Kissimmee, FL
23                                                                                        Dunedin pm sunset
24                                                                   I ll win regular season and finals MVP
25                                                           I truly get excited when landing in a new city
26                           // - Personal Picks   NCAAF    OSU RL -  -   pending NCAAF  PERSONALPICKS RL
27      Bahhahs this guy told me that since I moved to Florida I shouldn t worry about him but this whol...
28      Art gallery idea someone just takes a bunch of photos of all the bare feet at the TSA and ties i...
29                                                                                      Miami central  BTW
                                                       ...
1335                                                   OSU is overrated But they re just preseason rankings
1336                                                         tlmgirls roadracing   carterfartuch   racing
1337     has lied about everything, from crowd sizes to meetings with russians The alleged donation is j...
1338                                                         Ok little guy, we see you  Grant BALLING
1339                                                                            I m at  in Bal Harbour, FL
1340                                                    YOOOOOOOOOOOOOOO CHILLLL      that s not happening
1341                                                                      Motherfucking Grant baby  PhinsUp
1342    Back from its final deployment, the USS Jacksonville has returned to its homeport and awaits its...
1343                                                            Why is Princess Diana so fondly remembered
1344                                                     We are Artium Miami Art Gallery     artcollector
1345                                                                                Big issue Need changes
1346                                                     weekends dedicated to college football again
1347                                                                         Day is done  Glades Boat Yard
1348                                                                    Everytime I drink I get nauseous
1349                                                                               his parents, See yah
1350                                                                                Always in the dog house
1351                                                                       Thank you Larry for your service
1352                                                             They need to keep David Fales end of story
1353         Gana tus  primeros viajes gratis en UBER  reg strate con el c digo kbjcg   C DIGO UBER kbjcg
1354                                Hoy en el Peri dico        EsikaPro  Colombia MiPatria  Miami, Florida
1355    Lo digo ahora y siempre lo dir  vivir en valencia es lo m s t xico que puede existir  socialment...
1356                    Drew Baldrich, killing it on the WON Waterfront country music band guitarist sing
1357                                                                                       Run the whole
1358                                                             This lady named her daughter  Vision
1359                                                  Go Buccaneers     siegetheday  Raymond James Stadium
1360                                                 Great with wings - Drinking an All Day IPA by  at
1361                                                                                              JUNR
1362            Artist guest room libeco seanrush seanrushatelier dropclothcurtains bedroom bedroomideas
1363          tbt to this eVite created for the Circle of Friendship of Greater Fort Lauderdale   Created
1364                   Que es lo m s importante del Liderazgo   Lo m s importante del Liderazgo es conoce
Name: tweet_text, Length: 1365, dtype: object

In [12]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
stopWords = set(stopwords.words('english')) | set(stopwords.words('spanish'))

In [14]:
tweet_vector = TfidfVectorizer(analyzer='word',stop_words=stopWords).fit_transform(tweet_hour['tweet_text'])

In [15]:
tweet_vector

<1365x5488 sparse matrix of type '<class 'numpy.float64'>'
	with 11294 stored elements in Compressed Sparse Row format>

In [16]:
tweet_vector.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.31243485, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [17]:
from sklearn.metrics.pairwise import linear_kernel
cosine_similarities = linear_kernel(tweet_vector, tweet_vector).flatten()

In [18]:
cosine_similarities.argsort()

array([ 931014, 1231258, 1710653, ..., 1590024,  396140,  549132])